/* DO NOT CHANGE THIS ROOT CLASS NAME*/
#task-5 {
  /* Styles goes here */
}

.login-form {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 10px;
}

.button-5 {
  cursor: pointer;
  background-color: #2700ff75;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.button-5:hover {
  background-color: #131393;
  color: white;
}
.input {
  width: 100px;
  border-radius: 5px;
}
.input:focus {
  outline: 3px solid #2700ff75;
  width: 250px;
  transition: width 0.35s ease-in-out;
  border: 0px;
}
